<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Guia perguntas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f2f2f2;
        }
        .container {
            margin-top: 50px;
        }
        .card {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            margin-bottom: 20px;
        }
        .card-header {
            background-color: #3b5998;
            color: #fff;
            font-size: 24px;
            font-weight: bold;
            border-radius: 10px 10px 0 0;
        }
        .card-body {
            font-size: 18px;
            line-height: 1.5;
            padding: 20px;
        }
        .btn-primary {
            background-color: #3b5998;
            border-color: #3b5998;
            border-radius: 30px;
            padding: 10px 20px;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            margin-top: 20px;
        }
        .btn-primary:hover, .btn-primary:focus {
            background-color: #2d4373;
            border-color: #2d4373;
        }
    </style>
</head>

</html>
