<%- include partials/header.ejs %>

<body>
  <%- include partials/navbar.ejs %>
  <div class="container">
    <hr>
    <h1>Sobre Nós</h1>
    <p>Descreva aqui informações sobre a sua empresa, projeto ou equipe.</p>
  </div>
  <%- include partials/footer.ejs %>
</body>